.userLine {
    font-size: 160%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 2%;
    margin-bottom: 1%;
}

h1 {
    text-align: center;
    color:white;
    padding-left: 37%;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #7acf05;
    max-height: 2%;
}
header > div {
    margin-left: 1.5%;
}

